<div ng-messages="field.$error">
    <div class="err-message" ng-message="required">This field is required.</div>
    <div class="err-message" ng-message="email">Please enter a valid email.</div>
    <div class="err-message" ng-message="minlength">Too short</div>
    <div class="err-message" ng-message="maxlength">Too long</div>
    <div class="err-message" ng-message="invalidtoken">Invalid token</div>
    <div class="err-message" ng-message="conflict">Conflict</div>
    <div class="err-message" ng-message="notfound">Not Found</div>
</div>
